//-informacoes salvas no banco a respeito da vaga
template(name="infoVaga")
	.info
		h3.pull-right #{status}
		h2 #{papel}
		h3.cargo #{nivel.name}
		p Faixa Salarial: R$ #{salario}
		.footer
			h4 De
			p {{prettifyDate dtIni}}
			h4 Até
			p {{prettifyDate dtEnd}}
		.candList
			h4 Candidatos:
			ul.list-unstyled
				each candidatos
					li(class="{{result}}").btn.btn-normal.cand-btn #{name}
